[submodule "FFmpeg"]
	path = FFmpeg
	url = git://github.com/FFmpeg/FFmpeg.git
[submodule "gas-preprocessor"]
	path = gas-preprocessor
	url = git://github.com/mansr/gas-preprocessor.git
[submodule "libvpx"]
	path = libvpx
	url = ssh://gerrit.chromium.org:29418/webm/libvpx.git
